<div class="delivery" id="moscow_delivery">
	<h3>Доставка</h3>
    <form action="">
      <div class="select_region"><a href="#" class="red_btn btn_big inactive_btn">По Москве</a><a href="#" class="violet_btn btn_big" id="switch_delivery_to_russia">По России</a></div>


    <p>Доставка осуществляется в пределах МКАД. Для оформления заказа заполните приведенную ниже форму.</p>
    <div class="contact_info">
	<h3>Контактная информация</h3>
    	<p><label>ФИО получателя<span>*</span></label><br /><input type="text" name="" value="Иванов Иван Иванович" class="standart_inptxt" onclick="if(this.value=='Иванов Иван Иванович'){this.value='';}" onblur="if(this.value==''){this.value='Иванов Иван Иванович';}" onkeydown="setcolor(this,'#000')"/></p>
        <p><label>Телефон</label><br /><input type="text" name="" value="+7 (495) 549-09-95" class="standart_inptxt" onclick="if(this.value=='+7 (495) 549-09-95'){this.value='';}" onblur="if(this.value==''){this.value='+7 (495) 549-09-95';}" onkeydown="setcolor(this,'#000')"/></p>
        <p><label>Email<span>*</span></label><br /><input type="text" name="" value="name@example.ru" class="standart_inptxt" onclick="if(this.value=='name@example.ru'){this.value='';}" onblur="if(this.value==''){this.value='name@example.ru';}" onkeydown="setcolor(this,'#000')"/></p>
        <span class="info_txt"><span>*</span>Поля отмеченные звездочкой, обязательны для заполнения.</span>
    </div>
    <fieldset>	
    <div class="adress">
    	<h3>Адрес</h3>
    	<ul>
            <li><label>Улица</label><br /><input type="text" class="standart_inptxt grid5" /></li>
            <li><label>Дом</label><br /><input type="text" class="standart_inptxt grid1" /></li>
            <li><label>Корпус</label><br /><input type="text" class="standart_inptxt grid1" /></li>
            <li><label>Строение</label><br /><input type="text" class="standart_inptxt grid1" /></li>
            <li><label>Квартира</label><br /><input type="text" class="standart_inptxt grid1" /></li>
        </ul>
    </div>
    </fieldset>
    <fieldset>
    	<div class="comment">
    		<h3>Комментарий</h3>
            <textarea rows="" cols=""></textarea><input type="submit" value="Отправить" class="violet_submit" />
        </div>
    </fieldset>
    </form>
</div><!--.delivery-->
