@charset "utf-8";
/* CSS Document */

.menu ul li a, .menu ul#jsddm li div, .banners ul li, .banners ul li img, a.violet_btn, .popup_block, input.violet_submit, a.red_btn{
	behavior: url(js/PIE.htc); /* учим IE border-radius */}

.social_settings ul li, .banners ul li, ul.list_products li, .product_opt label, a.violet_btn, .foot_menu ul li, ul.list_photo li, .product_descr .price, .delete_product a, .photo_block, .title_product, .weight_product, .price_cart, .quantity_product, .delete_product, a.red_btn, .delivery label, .adress ul li{
	zoom:1; /* для ие */
	*display:inline; /* для ие */
	_overflow:hidden; /* для ие6, чтобы не умещающиеся в нем элементы не раздвигали блок */}

input.standart_inptxt{
	border:1px solid #d4d0c8;
	height:19px;
	line-height:19px;}


.menu ul#jsddm li ul li{
	*height:20px;}

*html .menu ul li a{
	line-height:21px;}
*html .menu ul#jsddm li div{
	display:none;}
*html .banners ul{
	margin-left:-8px;}
*html .banners ul li{
	margin-left:8px;}