@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background:#f6f4e8;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333333;}
html, body{
	height:100%;}

/* TYPOGRAPHY */
h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#a18451;
	line-height:1.1em;
	padding:8px 0;}
h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#a18451;
	line-height:1.1em;
	padding:8px 0;}

p{ padding:7px 0;}
a{ color:#680da8;}
a:hover{ text-decoration:none;}
/* END TYPOGRAPHY */
input[type="text"], input[type="password"]{
	border:1px solid #d4d0c8;
	height:19px;}
textarea{
	border:1px solid #d4d0c8;}
	
.clear{ content: "."; display: block; float:none; clear:both; height:0; overflow: hidden;}

.line1{
	background:#6b3c93;
	width:41%;
	height:4px;
	position:absolute;
	top:0px; left:0px;
	overflow:hidden;}
.line2{
	background:#8c55bb;
	width:60%;
	height:4px;
	position:absolute;
	top:0px; right:0px;
	overflow:hidden;}
	
#page{
	margin:0 auto -93px;
	width:1002px;
	min-height: 100%;
	height: auto !important;
	height: 100%;}
	
#header{
	background:url(/assets/site/header_bg.jpg) no-repeat 442px 25px;
	min-height:224px;
	border-bottom:1px solid #c8c6bb;
	padding:0 30px;
	line-height:1.3em;
	padding-bottom:11px;}
.logo{
	position:relative;
	float:left;
	margin-top:41px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:1em;
	padding-right:45px;}
.logo_slogan{
	font-style:italic;
	color:#841e93;
	position:absolute;
	left:209px;
	top:72px;}
.head_right{
	float:right;
	padding-top:34px;
	z-index:9;}

.cart{
	background:url(/assets/site/cart_bg.jpg) repeat-y left top;
	width:209px;}
.cart_top{
	background:url(/assets/site/cart_corners.jpg) no-repeat 0 0;
	width:209px;}
.cart_bottom{
	background:url(/assets/site/cart_corners.jpg) no-repeat right bottom;
	min-height:101px;
	padding:12px 20px 10px 20px;}
.cart h3{
	color:#343434;}
.cart p{
	padding-top:9px;
	padding-bottom:0px;}

.contacts{
	padding-left:19px;
	color:#0d0d0d;
	padding-top:18px;}
.contacts p{
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:21px;
	font-size:22px;
	color:#680c91;
	padding:1px 0;}
.contacts .code_phone{
	font-size:18px;
	color:#96309f;}

.menu{
	position:relative;
	margin-top:-9px;
	z-index:99;
	height:27px;}
.menu ul#jsddm{
	list-style-type:none;
	margin:0px;
	padding:0px;}
.menu ul#jsddm li{
	float:left;
	height:27px;
	margin-right:2px;
	position:relative;}
.menu ul#jsddm li:hover a{
	padding:0px 9px;
	border:2px solid #a52bba;}
.menu ul#jsddm li.dropmenu a{
	padding-bottom:10px;
	background:#f6f4e8;
	position:relative;
	z-index:999;
	-moz-border-radius:7px 7px 0 0;
    -webkit-border-radius:7px 7px 0 0;
    border-radius:7px 7px 0 0;
	padding-bottom:2px;}
.menu ul#jsddm li.dropmenu a:hover{
	border-bottom:none;
	padding-bottom:2px;
	background:#fcf9f1;}
.menu ul#jsddm li.dropmenu:hover a{
	border-bottom:none;
	background:#fcf9f1;}
.menu ul#jsddm li a{
	display:block;
	float:left;
	height:23px;
	line-height:23px;
	text-decoration:none;
	padding:2px 11px;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
	white-space: nowrap;}
.menu ul#jsddm li.last a{
	color:#d1060d;}
.menu ul#jsddm li.last a:hover{
	border:none;
	padding:2px 11px;}
.menu ul#jsddm li a:hover, .menu ul#jsddm li a.active{
	padding:0px 9px;
	border:2px solid #a52bba;}

.menu ul#jsddm li div {
    margin: 0;
    padding: 0;
	z-index:9;
    position: absolute;
    visibility: hidden;
	top:25px; left:0px;
	background:#fcf9f1;
	width:178px;
	padding-left:11px;
	border:2px solid #a52bba;
	-moz-border-radius:0px 6px 6px 6px;
    -webkit-border-radius:0px 6px 6px 6px;
    border-radius:0px 6px 6px 6px;
	padding-top:12px;
	padding-bottom:15px;
	font-family:Georgia, "Times New Roman", Times, serif;}

.menu ul#jsddm li ul {
    margin: 0;
    padding: 0;
	list-style-type:none;
}
.menu ul#jsddm li ul li {
    float: none;
	height:auto;
}
.menu ul#jsddm li ul li a{
	float:none;
	font-size:13px;
	line-height:1.2em;
	color:#c5080c;
	padding:0px;
	background:none;}
.menu ul#jsddm li.dropmenu ul li a{
	background:none;}
.menu ul#jsddm li ul li a:hover{
	text-decoration:underline;
	padding:0px;}
.menu ul#jsddm li.dropmenu ul li a:hover{
	padding:0px;}
.menu ul#jsddm li:hover ul li a{
	border:none;
	padding:0px;}
.menu ul#jsddm li ul li a:hover{
	padding:0px;
	border:none;}

#container{
	padding:12px 30px;
	padding-bottom:25px;
	line-height:1.3em;}
#container:after{
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;}

.leftSide{
	float:left;
	width:205px;
	padding-top:22px;}

.left_menu{
	font-size:16px;
	line-height:1.3em;
	font-family:Georgia, "Times New Roman", Times, serif;}
.left_menu ul{
	list-style-type:none;
	padding:3px 0;}
.left_menu ul li{
	border-top:1px dashed #aaaaaa;
	padding:7px 0;}
.left_menu ul li.first{
	border:none;}
.left_menu ul li a{
	color:#d1060d;
	text-decoration:none;}
.left_menu ul li a:hover{
	text-decoration:underline;}
.left_menu ul li ul{
	font-size:14px;
	line-height:1.3em;
	border-bottom:1px dashed #aaaaaa;
	padding-top:5px;
	padding-bottom:7px;}
.left_menu ul li ul li{
	border:none;
	padding:3px 0;}
.left_menu ul li ul li a{
	color:#680c91;}

.content{
	float:right;
	width:708px;}
.content ul{
	list-style-type:none;
	padding:6px 0;}
.content ul li{
	padding:2px 0;}

.social_settings{
	overflow:hidden;
	height:1%;}
.link_prev{
	float:left;
	color:#721c97;
	padding-top:1px;}
.link_prev a{}
.link_prev .arrow{
	float:left;
	margin-right:5px;}
.social_settings ul{
	list-style-type:none;
	float:right;
	padding:0px;}
.social_settings ul li{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	vertical-align:middle;
	padding:0px;
	padding-left:11px;}

.banners{
	padding-top:8px;}
.banners ul{
	list-style-type:none;
	text-align:right;
	margin-left:-11px;
	padding:0px;}
.banners ul li{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	vertical-align:top;
	width:224px;
	height:109px;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
	padding:0px;
	margin-left:11px;
	margin-bottom:10px;}
.banners ul li img{
	vertical-align:top;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;}
.banners ul li.banner_video{
	border:1px solid #9e00b5;
	width:224px;
	-moz-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:11px;
	overflow:hidden;}
.banners ul li.banner_video img{
	-moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;}

.best_offers{
	padding:17px 0;}
ul.list_products{
	list-style-type:none;
	padding:0px;
	margin-right:-13px;
	border-bottom:1px solid #c8c6bb;
	padding-bottom:37px;}
ul.list_products li{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	vertical-align:top;
	padding:0px;
	width:211px;
	background:url(/assets/site/separate_line.jpg) no-repeat 0 0;
	padding-left:16px;
	padding-right:13px;
	margin-top:15px;}
ul.list_products li.first{
	background:none;
	padding-left:2px;}
ul.list_products li a{}
ul.list_products li table tr td{
	width:211px;
	height:200px;
	text-align:center;
	vertical-align:middle;}
.title_prod{
	display:block;
	text-align:center;
	padding:8px 0;
	color:#d1060d;
	font-size:17px;
	line-height:1.2em;
	font-family:Georgia, "Times New Roman", Times, serif;}
.title_prod a{
	color:#d1060d;
	text-decoration:none;}
.title_prod a:hover{
	text-decoration:underline;}
.product_opt{
	overflow:hidden;
	height:1%;
	padding-top:5px;}
.product_opt select{
	width:143px;
	height:21px;
	border:1px solid #d4d0c8;}
.product_opt label{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	margin-bottom:5px;}
.weight_prod{
	float:left;}
.quantity_prod{
	float:right;}
.quantity_prod input.standart_inptxt{
	width:36px;
	padding-left:4px;}
.price{
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:21px;
	color:#d1060d;
	background:#ede8d5;
	text-align:center;
	height:35px;
	line-height:32px;
	margin-top:9px;}
.prod_buttons{
	text-align:center;
	padding-top:9px;
	font-size: 12px;
}
.prod_buttons a{
	vertical-align:middle;
	margin:0 5px;}
a.violet_btn, a.red_btn{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	height:25px;
	background:#a324b6 url(/assets/site/violet_btn_bg.jpg) repeat-x 0 0;
	text-decoration:none;
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:24px;
	border:1px solid #87009c;
	border-left:1px solid #9114a3;
	border-right:1px solid #8a059e;
	padding:0 24px;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
	vertical-align:middle;}
a.btn_big{
	height:30px;
	font-size:15px;
	line-height:29px;}
a.red_btn{
	border:1px solid #870000;
	height:30px;
	font-size:15px;
	line-height:29px;
	background:#9c0000 url(/assets/site/red_btn_bg.jpg) repeat-x 0 0;}

#footer{
	height:93px;
	position:relative;
	line-height:1.3em;}
.push{
	height:93px;}
.footer{
	width:940px;
	margin:0 auto;
	padding-top:20px;}
.copyright{
	display:block;
	float:left;
	width:214px;}
.footer .contacts{
	float:left;
	padding-top:0px;}
.foot_menu{
	float:right;
	width:516px;
	text-align:right;}
.foot_menu ul{
	list-style-type:none;}
.foot_menu ul li{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	padding-left:11px;}
.red{
	color:#d1060d;}

/*------------------POPUPS------------------------*/
#fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 999;
	width: 100%; height: 100%;
	opacity: .80;}
.popup_block{
	display: none;
	background: #f5f3e1;
	padding: 16px 19px;
	padding-bottom:40px;	
	float: left;
	font-size: 18px;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	line-height:1.3em;
	font-size:12px;}
.popup_block img{
	vertical-align:middle;}
img.btn_close {
	float: right; 
	margin:0;}
.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;}

.cart_popup{
	text-align:center;}
.cart_popup .title2{
	padding-top:25px;}
.title2{
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#d70000;
	padding:7px 0;}

.product{
	overflow:hidden;
	height:1%;}
.product .title_prod{
	text-align:left;
	padding-bottom:19px;}
.product_photo{
	float:left;
	width:263px;}
.big_photo{
	border:1px solid #d4d0c8;}
.big_photo td{
	width:261px;
	height:251px;
	text-align:center;
	vertical-align:middle;}
ul.list_photo{
	list-style-type:none;}
ul.list_photo li{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	vertical-align:top;
	padding:1px;
	border:1px solid #d4d0c8;
	margin-top:5px;}
ul.list_photo li img{
	vertical-align:top;}
.product_descr{
	float:right;
	width:418px;}
.top_descr{
	border-bottom:1px solid #c8c6bb;
	padding-bottom:25px;
	margin-bottom:14px;}
.top_descr p{
	padding:11px 0;}
.product_descr .product_opt{
	width:251px;
	padding-top:0px;}
.product_descr .price{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	width:251px;
	vertical-align:middle;
	margin:0px;
	margin-right:21px;}
.product_descr .info_txt{
	display:block;
	font-size:11px;
	line-height:1.4em;
	padding-top:2px;
	margin-top:3px;
	background:url(/assets/site/red_star.jpg) no-repeat 0 6px;
	padding-left:9px;}
.info_txt{
	display:block;
	font-size:11px;
	padding:5px 0;
	line-height:1.4em;}
.info_txt span{
	margin-right:1px;
	color:#d4161c;}

.cart_item{}
.cart_item ul{
	list-style-type:none;
	padding:0px;}
.cart_item ul li{
	display:block;
	padding:6px 0;}
.photo_block, .title_product, .weight_product, .price_cart, .quantity_product, .delete_product{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	vertical-align:middle;}
.cart_item ul li.cart_title{
	padding-bottom:3px;}
.cart_item ul li.cart_title .title_product, .cart_item ul li.cart_title .price_cart{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;
	text-align:left;}
.photo_block{
	width:123px;}
.photo_block table{
	width:94px;
	border:1px solid #d4d0c8;}
.photo_block table td{
	width:94px;
	height:95px;
	text-align:center;
	vertical-align:middle;}
.cart_item .title_product{
	font-size:15px;
	line-height:1.3em;
	width:210px;
	color:#d1060d;
	font-family:Georgia, "Times New Roman", Times, serif;}
.weight_product{
	width:95px;}
.price_cart{
	font-size:16px;
	line-height:1.3em;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#d1060d;
	width:74px;
	text-align:center;
	padding-right:38px;}
.quantity_product{
	width:56px;
	text-align:center;
	padding-right:40px;}
.quantity_product input.standart_inptxt{
	width:36px;
	padding-left:4px;}
.delete_product{
	width:51px;
	text-align:center;}
.delete_product a{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	background:url(/assets/site/delete_btn.jpg) no-repeat 0 0;
	width:14px;
	height:14px;}
.intotal{
	text-align:right;}
.intotal p{
	padding:4px 0;}
.priority1{
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:1.3em;
	color:#d1060d;}

.delivery{
	padding-bottom:60px;}
.delivery h3{
	border-top:1px solid #c8c6bb;
	margin-top:16px;
	padding-top:23px;
	padding-bottom:15px;}
.delivery label{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	margin-bottom:5px;}
.delivery label span{
	color:#d4161c;}
.delivery p{
	padding:5px 0;}
.delivery p.info_txt{
	padding:0px;
	padding-left:7px;}
.select_region{
	text-align:center;
	padding:10px 0;
	padding-bottom:15px;}
.select_region a{
	margin:0 12px;}

.contact_info{}
.contact_info input.standart_inptxt{
	width:221px;
	padding:0 5px;
	color:#c6c6c6;}

.adress{
	padding-bottom:9px;}
.adress h3{
	padding-bottom:5px;}
.adress ul{
	padding:0px;
	width:550px;}
.adress ul li{
	display:-moz-inline-stack; /* для FF2 */
	display:inline-block;
	padding:0px;
	vertical-align:top;
	margin-right:5px;
	padding-top:11px;}
.adress input.standart_inptxt{
	width:168px;}
.adress input.grid5{
	width:225px;}
.adress input.grid1{
	width:64px;}

.comment{
	overflow:hidden;
	height:1%;}
.comment textarea{
	overflow:auto;
	width:379px;
	height:84px;
	padding:3px;
	float:left;}
.comment input.violet_submit{
	float:right;
	margin-top:61px;}
input.violet_submit{
	background:#a324b6 url(/assets/site/violet_btn_bg.jpg) repeat-x 0 0;
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	height:30px;
	line-height:26px;
	border:1px solid #87009c;
	border-left:1px solid #9114a3;
	border-right:1px solid #8a059e;
	padding:0 24px;
	padding-bottom:3px;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;}

.pickup{
	padding-bottom:15px;}
.pickup ul li{
	padding:9px 0;}
.link_block{
	text-align:right;}